.container {

    display: grid;
    gap: 1vh;

}



@media screen and (max-width: 480px) {    

    body{
    background-color: ghostwhite;}

    .photo img {

        max-width: 100%;
        max-height: 80%;
        margin: auto;
        border: 1px solid red;
        object-fit: cover;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    body {  
        
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(navy, blue,green,lightgreen);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    body{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(rgb(56, 5, 56), rgb(98, 10, 98), purple, rgb(202, 18, 202));
    }
}

@media screen and (min-width: 1025px) 
{
    body {
    background-color: paleturquoise;
    }
}